.btn-container {
    display: flex;
}

.btn-container button {
    border-radius: 10px 0 0 10px;
}

.btn h6 {
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
}

.btn-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 0px 10px 10px 0px;
    background-color: #4169E1;
    color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.2),0 2px 10px 0 rgba(0,0,0,.1)
}

.btn-icon-container:hover{
    background: #eee;
}

@media (min-width: 576px) {
    .btn-icon-container {
        width: 70px;
        height: 70px;
    }

    .btn h6 {
        font-size: 18px;
    }
}